PORT=8080
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
INTERNAL_SERVICE_ROLE_KEY=
INTERNAL_FUNCTION_JWT=
CLOUDCONVERT_API_KEY=
GCS_BUCKET_NAME=
GCS_PROJECT_ID=
GCS_SERVICE_ACCOUNT_KEY=
GCS_SERVICE_ACCOUNT_KEY_BASE64=
DOCUMENT_INGESTION_QUEUE_NAME=document_ingestion_jobs
