PROJECT_ID=asens-ai
SERVICE_REGION=me-central2
ORCHESTRATION_REGION=us-central1
SERVICE_NAME=zohal-backend
INGESTION_WORKFLOW_NAME=document-ingestion-v1
INGESTION_TASK_QUEUE_NAME=document-ingestion-jobs
ANALYSIS_WORKFLOW_NAME=document-analysis-v1
ANALYSIS_TASK_QUEUE_NAME=document-analysis-jobs
ALLOW_UNAUTHENTICATED=true
MEMORY=1Gi
CPU=1
MAX_INSTANCES=10
MIN_INSTANCES=0
# Optional:
# WORKFLOW_SERVICE_ACCOUNT=zohal-workflows@asens-ai.iam.gserviceaccount.com
